
.hero {
  padding: 90px 0px 210px 0px;
  .hero-inner {
    position:relative;
    max-width: 552px;
    margin-left: 20px;
  }
  .hero-inner::after {
    content: url(../images/img1.png);
    display: block;
    width: 760px;
    height: 530px;
    position: absolute;
    top: 22px;
    left: calc(100% - 13px);
    z-index: -1;
    margin-right: 20px;
  }
  .title {
    font-family: GraphikLCG;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 50px;
  }
  .text {
    font-family: GraphikLCG;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px; 
    max-width: 470px;
    width: 100%;
    margin-bottom: 50px;
  }
  .sub_text {
    font-family: GraphikLCG;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
  }  
}
