.projects {
  padding: 90px 0 150px 0;
  .container {
    .projects-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        padding: 0 20px;
        margin-bottom: 250px;
        
        .block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          max-width: 493px;
          padding: 5px 0;
          
          .title {
            font-family: GraphikLCG;
            font-size: 50px;
            font-weight: 600;
            line-height: 60px;
            padding-bottom: 30px;
          }
          .text {
            font-family: GraphikLCG;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            padding-bottom: 30px;
          }
          .link {
            font-family: GraphikLCG;
            color: #000;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            text-decoration: none;
            transition: color 0.3s ease;
          }
          .link:hover {
            color: #FF9C7D;
          }
          
        }  
        .projects-svg-container {
          display: inline-block;
          position: relative;
          width: 100%;
          padding-bottom: 100%; 
          vertical-align: middle; 
          overflow: hidden; 
          // order: 2;
          // &:nth-child(even) 
          // {.projects-svg-container {
          //   order: 1;
          // }
          // }
                    
          .projects-svg-content {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &:nth-child(even) {
          .block {order:2;}
        }
        // .image {
        //   max-width: 632px;
        //   height: 632px;
        //   margin-right: 20px;
        // }
        // &:last-child {
        //   margin-bottom: 0;
        // } 
        // &:nth-child(even) .image {
        //   order: 1;
        // }
        // &:nth-child(even) .block {
        //   order: 2;
        //   margin-right: 0;
        // }
        // &:last-child .image {
        //   height: 577px;
        // }
      }  
    }
  }
}

// .projects .container .projects-inner .item :nth-child(even) {
//   .block {order: 2;}
//   .projects-svg-container {order: 1;}
// }

// .projects .container .projects-inner .item .block:nth-child(3) 
// {order: 2;}
// .projects .container .projects-inner .item .projects-svg-container:nth-child(3) 
// {order: 1;}
