.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-family: GraphikLCG;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0px;

  &__primary-black {
    padding: 0 30px;
    height: 45px;
    background-color: transparent;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__primary {
    background-color: #ff6336;
    border: 1px solid #ff6336;
    color: #fff;
    height: 45px;
    padding: 0 22px;
    &:hover {
      background-color: transparent;
      color: #ff6336;
    }
  }
  &__primary-hero {
    background-color: #ff6336;
    border: 1px solid #ff6336;
    height: 60px;
    padding: 0 42px;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 60px;
    font-size: 16px;
    &:hover {
      background-color: transparent;
      color: #ff6336;
    }
    @media screen and (max-width: 500px) {
      .btn__primary-hero {
        margin-bottom: 20px;
      }
    }
  }
  &__primary-hero-black {
    background-color: transparent;
    border: 1px solid black;
    height: 60px;
    padding: 0px 30px;
    color: black;
    font-weight: 600;
    line-height: 60px;
    font-size: 16px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__primary-integra {
    background-color: #ff6336;
    border: 1px solid #ff6336;
    height: 60px;
    padding: 0 30px;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 60px;
    font-size: 16px;
    &:hover {
      background-color: transparent;
      color: #ff6336;
    }
  }
  &__easy {
    background-color: black;
    border: 1px solid black;
    height: 60px;
    padding: 0 40px;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 60px;
    font-size: 17px;
    &:hover {
      background-color: transparent;
      color: black;
    }
  }
}