@font-face {
  font-family:"GraphikLCG";
  src: url(../fonts/GraphikLCG-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "GraphikLCG";
  src: url(../fonts/GraphikLCG-Semibold.ttf);
  font-weight: 600;
}
